---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer
styles:
    - blogposts.css
    - onecolumn.css
---
<main>
    <!-- post contents -->
    <article class="textBlock">
        
        {{ content }}
        
        <div class="post-meta">
            <span class="meta-icon">
                <img src="/media/icon-calendar-ltr.svg" alt="calendar icon" />
            </span>
            
            <span class="meta-text">
                <a href="{{ canonical_url }}"><time>{{ date | date: "%A, %B %d, %Y" }}</time></a> 
            </span>
        </div>
    
    </article>      
</main>

<script>
    var blogPostURL = "{{ url }}";
</script>
<script src="{{ root_folder }}/styles/interactions.js"></script>

{% comment %} <link rel="stylesheet" type="text/css" href="/styles/blogposts.css" />
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" /> {% endcomment %}