---
title: Reilly Spitzfaden, Composer
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <!-- OG tags -->
        <meta name="fediverse:creator" content="reillypascal@hachyderm.io" />
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:url" content="{{ canonical_url }}" />
        <meta property="og:image" content="https://reillyspitzfaden.com/media/wefax_og_cr.jpeg" />
        <meta property="og:image:secure_url" content="https://reillyspitzfaden.com/media/wefax_og_cr.jpeg" />
        <meta property="og:image:type" content="image/jpeg" /> 
        <meta property="og:type" content="website" />
        <meta property="og:description" content="{{ description }}" />
        
        <!-- General -->
        <meta name="description" content="{{ description }}" />
        <title>{{ title }}</title>
        <link rel="canonical" href="{{ canonical_url }}" />
        <link rel="icon" href="/media/favicon-32px.png" type="image/x-icon"/>
        
        <!-- My styles -->
        <link rel="stylesheet" type="text/css" href="/styles/global.css" />
        <script src="/styles/scripts.js"></script>

        <!-- lite-youtube -->
        <link rel="stylesheet" href="/styles/videos/lite-yt-embed.css" />
        <script src="/styles/videos/lite-yt-embed.js"></script>

        <!-- Fonts -->
        <!-- <link rel="preload" id="googlefonts-cs" href="https://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript>
            <link rel="stylesheet" id="googlefonts-css"  href="https://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic&display=swap" type="text/css" media="all" />
        </noscript> --->

        <!-- <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
        </noscript> -->

        <!-- RSS Autodiscovery -->
        <link rel="alternate" type="application/rss+xml" title="Reilly Spitzfaden | RSS" href="https://reillyspitzfaden.com/blog/feed.xml" />

        <!-- rel="me" verification -->
        <link rel="me" href="https://hachyderm.io/@reillypascal" />
        <link rel="me" href="https://github.com/reillypascal" />

        <!-- IndieAuth -->
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">

        <!-- Webmentions -->
        <link rel="webmention" href="https://webmention.io/reillyspitzfaden.com/webmention" />
        <link rel="pingback" href="https://webmention.io/reillyspitzfaden.com/xmlrpc" />
        
        <!-- Octothorpes -->
        <!-- Indexing -->
        <link 
          rel="preload" 
          as="fetch" 
          href="https://octothorp.es/?uri=https://reillyspitzfaden.com>" />
        <!-- Tags -->
        <link 
          rel="octo:octothorpes"
          href="Art" />
        <link 
          rel="octo:octothorpes"
          href="Audio" />
        <link 
          rel="octo:octothorpes"
          href="indieweb" />
        <link 
          rel="octo:octothorpes"
          href="music" />
        <link 
          rel="octo:octothorpes"
          href="programming" />
        <link 
          rel="octo:octothorpes"
          href="projects" />
        <!-- Endorse backlinks -->
        <link 
          rev="octo:octothorpes" 
          href="*" />
    </head>
    <body onresize="hamburgerOnOff()">
        <!-- fixed background - opened and closed here -->
        <div class="bg"></div>
        <!-- moving foreground -->
        <div class="foreground">
            <!-- includes footer - makes it fill the page -->
            <div class="wrapper">
                <!-- navigation menu -->
                <div class="nav">
                    <a href="/" class="active">Home</a>
                    <div id="menuLinks">
                        <div class="navElement">
                            <div id="about-dropdown" class="dropdown">
                                <button onclick="showDropdown('about-dropdown-content')" class="dropbtn">About <img src="/media/icon-caret-down-invert.svg" alt="" /></button>
                                <div id="about-dropdown-content" class="dropdown-content">
                                    <a href="/bio">Bio</a>
                                    <a href="/now">Now</a>
                                </div>
                            </div>
                        </div>

                        <div class="navElement">
                            <div id="music-dropdown" class="dropdown">
                                <button onclick="showDropdown('music-dropdown-content')" class="dropbtn">Music <img src="/media/icon-caret-down-invert.svg" alt="" /></button>
                                <div id="music-dropdown-content" class="dropdown-content">
                                    <a href="/works">Works List</a>
                                    <a href="/media">Media</a>
                                    <a href="/supplemental">Supplemental Materials</a>
                                </div>
                            </div>
                        </div>

                        <div class="navElement"><a href="/blog">Blog</a></div>
                        <div class="navElement"><a href="/projects">Code</a></div>
                        <div class="navElement"><a href="/contact">Contact</a></div>
                        <div class="navElement"><a href="/blog/feed.xml">RSS</a></div>
                    </div>
                    
                    <style>
                        .icon-svg {
                            width: 1em;
                            height: 1em;
                            vertical-align: -0.125em;
                            fill: aliceblue;
                        }
                    </style>
                    
                    <a href="javascript:void(0);" class="icon" onclick="hamburgerToggle()">
                        <!-- <i class="fa fa-bars"></i> -->
                        <!-- width = height * 0.875 -->
                        <svg class="icon-svg" xmlns="http://www.w3.org/2000/svg" height="15" width="13.125" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path 
                            fill="aliceblue"
                            d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"/>
                        </svg>
                    </a>
                </div>
                
                {{ content }}
                
                <!-- footer -->
                <footer>
                    <table>
                        <tr>
                            <td><a href="https://github.com/reillypascal" title="GitHub"><img src="/media/github-mark-white.png" alt="GitHub"/></a></td>
                            <td><a href="https://www.instagram.com/reillypascal/" title="Instagram"><img src="/media/instagram-glyph-white.png" alt="Instagram"/></a></td>
                            <td><a href="https://hachyderm.io/@reillypascal" title="Mastodon"><img src="/media/mastodon-logo-white.png" alt="Mastodon"/></a></td>
                            <td><a href="https://makertube.net/c/reilly_spitzfaden_composer/videos" title="PeerTube"><img src="/media/peertube-logo-white.png" alt="PeerTube"></a></td>
                            <td><a href="https://soundcloud.com/reilly-spitzfaden" title="SoundCloud"><img src="/media/soundcloud-brands-white.png" alt="SoundCloud"/></a></td>
                            <!-- <td><a href="https://www.tiktok.com/@reillypascal" title="TikTok"><img src="/media/tiktok-logo-white.png" alt="TikTok"/></a></td> -->
                            <td><a href="https://www.youtube.com/@reillyspitzfaden" title="YouTube"><img src="/media/youtube-icon-dark.png" alt="YouTube"/></a></td>
                            <td><a href="https://reillyspitzfaden.com/blog/feed.xml" title="RSS"><img src="/media/rss-icon-white.png" alt="RSS"/></a></td>
                        </tr>
                    </table>
                    
                    <p class="octothorpes-badge"><a href="https://octothorp.es" class="img-badge"><img src="https://octothorp.es/badge.png" alt="Badge for the Octothorpes main ring" /></a></p>

                    <p>
                        <a href="https://xn--sr8hvo.ws/previous">←</a>
                        <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a>
                        <a href="https://xn--sr8hvo.ws/next">→</a>
                    </p>

                    <p>&copy; 2022–2024 by Reilly Spitzfaden. This site supports <a href="https://webmention.net/">Webmentions</a>.</p>
                </footer>
            <!-- close "wrapper"-->
            </div>
        <!-- close "foreground" (moving page over bg) -->
        </div>
    </body>
</html>
