---
title: Reilly Spitzfaden, Composer
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:url" content="{{ canonical_url }}" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:image" content="http://reillyspitzfaden.com/media/og_image.jpg" />
        <meta property="og:image:secure_url" content="https://reillyspitzfaden.com/media/og_image.jpg" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta property="og:image:alt" content="Pixel art of a radio tower and floppy disk, with pixel art text reading 'Reilly Spitzfaden'" />

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <!-- General -->
        <meta name="description" content="{{ description }}" />
        <title>{{ title }}</title>
        <link rel="canonical" href="{{ canonical_url }}" />
        {% comment %}<link rel="icon" href="/media/favicon-32px.png" type="image/x-icon"/>{% endcomment %}
        <link rel="icon" type="image/png" href="/media/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/media/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/media/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="Reilly Spitzfaden" />
        <link rel="manifest" href="/media/favicon/site.webmanifest" />
        <meta name="fediverse:creator" content="reillypascal@hachyderm.io" />
        
        <!-- My styles -->
        <link rel="stylesheet" type="text/css" href="/styles/global.css" />
        <script src="/styles/menus.js"></script>
        {% comment %} {% if styles %}
            {% for sheet in styles %}
                <link rel="stylesheet" type="text/css" href="/styles/{{ sheet }}" />
            {% endfor %}
        {% endif %} {% endcomment %}

        <!-- Fonts -->
        <link rel="preload" href="/styles/fonts/opensans/opensans-variablefont_wdthwght-webfont.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/styles/fonts/opensans/opensans-italic-variablefont_wdthwght-webfont.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/styles/fonts/born2bsportyv2/born2bsportyv2-webfont.woff2" as="font" type="font/woff2" crossorigin>
        {% comment %}
        <!-- Fonts -->
        <link rel="preload" id="googlefonts-cs" href="https://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript>
            <link rel="stylesheet" id="googlefonts-css"  href="https://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic&display=swap" type="text/css" media="all" />
        </noscript>

        <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
        </noscript>
        {% endcomment %}

        <!-- RSS Autodiscovery -->
        <link rel="alternate" type="application/rss+xml" title="Reilly Spitzfaden | RSS" href="https://reillyspitzfaden.com/blog/feed.xml" />

        <!-- rel="me" verification -->
        <link rel="me" href="https://hachyderm.io/@reillypascal" />
        <link rel="me" href="https://github.com/reillypascal" />

        <!-- IndieAuth -->
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">

        <!-- Webmentions -->
        <link rel="webmention" href="https://webmention.io/reillyspitzfaden.com/webmention" />
        <link rel="pingback" href="https://webmention.io/reillyspitzfaden.com/xmlrpc" />
        
        {%- if octothorpes -%}
        <!-- Octothorpes -->
        <!-- Indexing -->
        <link 
          rel="preload" 
          as="fetch" 
          href="https://octothorp.es/?uri={{ canonical_url }}" />
        
        <!-- Tags -->
        {%- for tag in octothorpes -%}
        <link 
          rel="octo:octothorpes"
          href="{{ tag }}" />
        {%- endfor -%}
        
        <!-- Endorse backlinks -->
        <link 
          rev="octo:octothorpes" 
          href="*" />
        
        {%- endif -%}
        
    </head>
    <body>
        {% comment %}
        <!-- fixed background - opened and closed here -->
        <div class="bg"></div>
        <!-- moving foreground -->
        <div class="foreground">
        {% endcomment %}
        <!-- includes footer - makes it fill the page -->
        <div class="wrapper">
            <!-- navigation menu -->
            <header>
                {% comment %} <div id="cardContainer"> {% endcomment %}
                <div id="cardImg">
                    <a href="/">
                        {% comment %} <img src="/media/map_duochrome_200x250_1.webp" alt="" /> {% endcomment %}
                        <img src="/media/radio-tower-aliceblue-64px.svg" alt="Pixel art icon of a radio tower" id="radio-tower" height="64" width="64"/>
                        <img src="/media/save-aliceblue-64px.svg" alt="Pixel art icon of a floppy disk" id="floppy-disk" height="64" width="64" />
                    </a>
                </div>
                    {% comment %} <div id="cardName">
                        <h1><a href="/">Reilly Spitzfaden</a></h1>
                    </div>
                </div> {% endcomment %}
                <nav>
                    <a href="/" class="navElementHome">Reilly Spitzfaden</a>
                    {% comment %} <div class="navWrapper"> {% endcomment %}
                    <label for="menu" tabindex="0" class="navIcon">    
                        {% comment %} <img src="/styles/fonts/light-bars-solid.svg" alt="menu button" class="icon-svg" height="15" width="13.125"></img> {% endcomment %}
                        <img src="/media/menu-aliceblue-32px.svg" alt="menu button" class="icon-svg" height="32" width="32"></img>
                    </label>
                    <input id="menu" type="checkbox" aria-hidden="true" aria-label="Open the menu"/> 
                    {% comment %} </div> {% endcomment %}
                    <div id="menuLinks">
                    {% comment %} <div class="navElement"><a href="/">Reilly Spitzfaden</a></div> {% endcomment %}
                        <div class="navElement">
                            <div id="about-dropdown" class="dropdown">
                                
                                <label for="about-dropdown-btn" tabindex="0" class="dropbtn">About <img src="/media/icon-caret-down-invert.svg" alt="dropdown menu arrow for 'about'section" height="12" width="16" /></label>
                                <input id="about-dropdown-btn" type="checkbox" class="dropdown-checkbox" aria-hidden="true" />
                                
                                <div id="about-dropdown-content" class="dropdown-content">
                                    <a href="/bio">Bio</a>
                                    <a href="/now">Now</a>
                                </div>
                                
                            </div>
                        </div>
    
                        <div class="navElement">
                            <div id="music-dropdown" class="dropdown">
                                
                                <label for="music-dropdown-btn" tabindex="0" class="dropbtn">Music <img src="/media/icon-caret-down-invert.svg" alt="dropdown menu arrow for 'music'section" height="12" width="16" /></label>
                                <input id="music-dropdown-btn" type="checkbox" class="dropdown-checkbox" aria-hidden="true" />
                                
                                <div id="music-dropdown-content" class="dropdown-content">
                                    <a href="/shop">Shop</a>
                                    <a href="/works">Works List</a>
                                    <a href="/media">Media</a>
                                    <a href="/supplemental">Supplemental Materials</a>
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="navElement">
                            <div id="posts-dropdown" class="dropdown">
                                
                                <label for="blog-dropdown-btn" tabindex="0" class="dropbtn">Blog <img src="/media/icon-caret-down-invert.svg" alt="dropdown menu arrow for 'blog'section" height="12" width="16" /></label>
                                <input id="blog-dropdown-btn" type="checkbox" class="dropdown-checkbox" aria-hidden="true" />
                                
                                <div id="blog-dropdown-content" class="dropdown-content">
                                    <a href="/blog">Posts</a>
                                    <a href="/likes">Likes</a>
                                </div>
                            </div>
                        </div>
    
                        <div class="navElement"><a href="/projects">Code</a></div>
                        <div class="navElement"><a href="/contact">Contact</a></div>
                        <div class="navElement"><a href="/blog/feed.xml">RSS</a></div>
                    </div>
                    {% comment %} </div> {% endcomment %}
                </nav>
                
            </header>
            
            {{ content }}
            
            <!-- footer -->
            <footer>
                <table>
                    <tr>
                        <td><a href="https://bsky.app/profile/reillypascal.bsky.social" title="Bluesky"><img src="/media/bluesky_media_kit_logo_white.png" alt="Bluesky" width="36" height="32" /></a></td>
                        <td><a href="https://github.com/reillypascal" title="GitHub"><img src="/media/github-mark-white.png" alt="GitHub" width="32" height="31" /></a></td>
                        <td><a href="https://www.instagram.com/reillypascal/" title="Instagram"><img src="/media/instagram-glyph-white.png" alt="Instagram" width="32" height="32" /></a></td>
                        <td><a href="https://hachyderm.io/@reillypascal" title="Mastodon"><img src="/media/mastodon-logo-white.png" alt="Mastodon" width="32" height="34" /></a></td>
                        <td><a href="https://makertube.net/c/reilly_spitzfaden_composer/videos" title="PeerTube"><img src="/media/peertube-logo-white.png" alt="PeerTube" width="26" height="32" ></a></td>
                        <td><a href="https://soundcloud.com/reilly-spitzfaden" title="SoundCloud"><img src="/media/soundcloud-brands-white.png" alt="SoundCloud" width="40" height="32" /></a></td>
                        {% comment %} <td><a href="https://www.tiktok.com/@reillypascal" title="TikTok"><img src="/media/tiktok-logo-white.png" alt="TikTok"/></a></td> {% endcomment %}
                        {% comment %} <td><a href="https://www.youtube.com/@reillyspitzfaden" title="YouTube"><img src="/media/youtube-icon-dark.png" alt="YouTube" width="32" height="32" /></a></td> {% endcomment %}
                        <td><a href="https://reillyspitzfaden.com/blog/feed.xml" title="RSS"><img src="/media/rss-icon-white.png" alt="RSS" width="32" height="32" /></a></td>
                    </tr>
                </table>
                
                <p class="octothorpes-badge"><a href="https://octothorp.es" class="img-badge"><img src="/media/octothorpes-badge.png" alt="Badge for the Octothorpes main ring" height="31" width="88" /></a></p>

                <p>
                    <a href="https://xn--sr8hvo.ws/previous" class="webring-prev-arrow">←</a>
                    <a href="https://xn--sr8hvo.ws" class="webring-name">IndieWeb Webring</a>
                    <a href="https://xn--sr8hvo.ws/next" class="webring-next-arrow">→</a>
                </p>

                <p>&copy; 2022–2025 by Reilly Spitzfaden. This site supports <a href="https://webmention.net/">Webmentions</a>.</p>
            </footer>
        <!-- close "wrapper"-->
        </div>
        {% comment %}
        <!-- close "foreground" (moving page over bg) -->
        </div>
        {% endcomment %}
    </body>
</html>
