{%- for tag in tags -%}
    {%- if tag == 'bookmark' -%}
        <div class="interaction">
            <p class="p-summary">
                Bookmarked: <a class="u-bookmark-of h-cite" href="{{ target_url }}">{{ target_title }}</a>
            </p>
        </div>
    {%- endif -%}
    {%- if tag == 'like' -%}
        <div class="interaction">
            <p class="p-summary">
                Liked: <a class="u-like-of h-cite" href="{{ target_url }}">{{ target_title }}</a>
            </p>
        </div>
    {%- endif -%}
    {%- if tag == 'rsvp' -%}
        <div class="interaction">
            <p class="p-summary">
                RSVP
                {% if rsvp_value %}
                    <data class="p-rsvp h-cite" value="{{ rsvp_value }}">{{ rsvp_value }}</data>
                {% else %}
                    <data class="p-rsvp h-cite" value="yes">yes</data>
                {% endif %}
                to <a href="{{ target_url }}" class="u-in-reply-to h-cite">{{ target_title }}</a>
            </p>
        </div>
    {%- endif -%}
    {%- if tag == 'reply' -%}
        <div class="interaction">
            <p class="p-summary">
                Reply to:
                <a href="{{ target_url }}" class="u-in-reply-to">
                    {% if target_title %}
                        {{ target_title }}
                    {% else %}
                        {{ target_url }}
                    {% endif %}
                </a>
            </p>
        </div>
    {%- endif -%}
{%- endfor -%}
