<a rel="author" class="p-author h-card" href="https://reillyspitzfaden.com"></a>

{% for tag in tags %}
    
    {% if tag == 'like' %}
        <div class="interaction">
            <p class="p-summary">Liked: <a class="u-like-of" href="{{ target_url }}">{{ target_title }}</a> </p>
        </div>
    {% endif %}

    {% if tag == 'rsvp' %}
        <div class="interaction">
            <p class="p-summary">
                RSVP 
                {% if rsvp_value %}
                    <data class="p-rsvp" value="{{ rsvp_value }}">{{ rsvp_value }}</data> 
                {% else %}
                    <data class="p-rsvp" value="yes">yes</data> 
                {% endif %}
                to <a href="{{ target_url }}" class="u-in-reply-to">{{ target_title }}</a>
            </p>
        </div>
    {% endif %}

{% endfor %}