{% assign pageUrl = "https://reillyspitzfaden.com" | append: page.url %}
{% assign web_mentions = webmentions.mentions | webWebmentions: pageUrl %}
{% assign fedi_mentions = webmentions.mentions | fediWebmentions: pageUrl %}

{%- if web_mentions.size > 0 or fedi_mentions.comments.size > 0 or fedi_mentions.reposts.size > 0 or fedi_mentions.likes.size > 0 %}
    <article class="webmention-display">
        <h2 class="sectionHeader">Interactions</h2>
        
        {%- if web_mentions.size > 0 %}
            <section class="web-webmention-display">
                {% for mention in web_mentions reversed %}
                    <div class="webmention-comment">
                        {%- if  mention.author.name and mention.author.name != "" %}
                            {{ mention.author.name }}
                        {%- else %}
                            Someone
                        {%- endif %}

                        <a href="{{ mention.url }}">
                            {%- if mention["wm-property"] == "like-of" -%}
                                liked
                            {%- elsif mention["wm-property"] == "in-reply-to" -%}
                                replied to
                            {%- else -%}
                                mentioned
                            {%- endif -%}
                        </a> this post
                        {%- if mention.content.text %}
                            <blockquote>{{ mention.content.text | truncate: 175 }}</blockquote>
                        {%- endif %}
                    </div>
                {% endfor %}
            </section>
        {%- endif %}

        {%- if fedi_mentions.comments.size > 0 or fedi_mentions.reposts.size > 0 or fedi_mentions.likes.size > 0 %}
            <section class="fedi-webmention-display">
                {% comment %} <span class="fedi-asterism">
                    &#x2042;
                </span>  {% endcomment %}
                {% comment %} <span class="webmention-reply-icon">
                    <img width="18" height="18" src="/media/ui/comment-icon-light-18px.svg" alt="reply icon" />
                </span>
                <span id="webmention-comments">{{ fedi_mentions.comments | size }} comments,</span>
                <span class="webmention-repost-icon">
                    <img width="18" height="18" src="/media/ui/repost-icon-light-18px.svg" alt="repost icon" />
                </span>
                <span id="webmention-reposts">{{ fedi_mentions.reposts | size }} reposts,</span>
                 <span class="webmention-fav-icon">
                    <img width="18" height="18" src="/media/ui/favorite-icon-light-18px.svg" alt="favorite icon" />
                </span> 
                <span id="webmention-likes">{{ fedi_mentions.likes | size }} likes</span>  {% endcomment %}

                <span class="fedi-interactions">
                    {%- if fedi_mentions.comments.size == 1 -%}
                        {{ fedi_mentions.comments | size }} comment 
                    {%- elsif fedi_mentions.comments.size > 1 -%}
                        {{ fedi_mentions.comments | size }} comments 
                    {%- endif -%}
                    {%- if fedi_mentions.comments.size > 0 and fedi_mentions.reposts.size > 0 or fedi_mentions.likes.size > 0 -%}
                    ,
                    {% endif -%}
                    {%- if fedi_mentions.reposts.size == 1 -%}
                        {{ fedi_mentions.reposts | size }} repost 
                    {%- elsif fedi_mentions.reposts.size > 1 -%}
                        {{ fedi_mentions.reposts | size }} reposts 
                    {%- endif -%}
                    {%- if fedi_mentions.reposts.size > 0 and fedi_mentions.likes.size -%}
                    ,
                    {%- endif -%}
                    {%- if fedi_mentions.likes.size == 1 %}
                        {{ fedi_mentions.likes | size }} like
                    {%- elsif fedi_mentions.likes.size > 1 %}
                        {{ fedi_mentions.likes | size }} likes
                    {%- endif %}
                    on the Fediverse
                    {%- if fedi_url -%}
                    : 
                        {%- comment %} fedi_url.first (i.e., first descendant) returns nil if not an array {%- endcomment %}
                        {%- if fedi_url.first %}
                            {%- for url in fedi_url %}
                                <a href="{{ url }}">syndication link {{ forloop.index }}</a>
                                {%- if not forloop.last -%}
                                ,
                                {%- endif -%}
                            {%- endfor %}
                        {%- else %}
                            <a href="{{ fedi_url }}">syndication link</a>
                        {%- endif %}
                    {% endif %}
                </span>
            </section>
        {%- endif %}
    </article>
{%- endif %}