---
layout: mainlayout.liquid
title: Digital Garden
description: A place for writing I will continually return to and develop. Research notes, tutorials, and other writing on composition, digital arts, programming, maker projects, and more.
permalink: /digital-garden/
---
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<style>
    article {
        margin: 48px 0;
    }
    section {
        margin: 80px 0;
    }
</style>

<main role="main" id="content">

    <h2 class="sectionHeader">Digital Garden</h2>
    <p>A place for writing I will continually return to and develop. Research notes, tutorials, and other writing on composition, digital arts, programming, maker projects, and more.</p>

    <section>
        <h2 class="sectionHeader">Tutorials</h2>
        
        {%- for post in collections.gardenTutorials reversed -%}
            <article class="h-entry">
                <h3 class="p-name"><a class="u-url" href="{{ post.url }}">{{ post.data.title }}</a></h3>
                <p class="p-summary">{{ post.data.description }}</p>

                <a rel="author" class="p-author h-card" href="https://reillyspitzfaden.com"></a>

                <span class="meta-icon">
                    <img src="/media/icon-calendar-ltr.svg" alt="calendar icon" width="18" height="18" />
                </span>
                <span class="meta-text">
                    <time class="dt-published" datetime="{{ post.date }}">Last updated {{ post.date | date: "%B %d, %Y" }}</time>
                </span>
            </article>
        {%- endfor -%}
    </section>

    <section>
        <h2 class="sectionHeader">Notebook</h2>

        {%- for post in collections.gardenNotebook reversed -%}
            <article class="h-entry">
                <h3 class="p-name"><a class="u-url" href="{{ post.url }}">{{ post.data.title }}</a></h3>
                <p class="p-summary">{{ post.data.description }}</p>

                <a rel="author" class="p-author h-card" href="https://reillyspitzfaden.com"></a>

                <span class="meta-icon">
                    <img src="/media/icon-calendar-ltr.svg" alt="calendar icon" width="18" height="18" />
                </span>
                <span class="meta-text">
                    <time class="dt-published" datetime="{{ post.date }}">Last updated {{ post.date | date: "%B %d, %Y" }}</time>
                </span>
            </article>
        {%- endfor -%}
    </section>

    <section>
        <h2 class="sectionHeader">What is a Digital Garden?</h2>

        <p>I have seen a number of people around the IndieWeb circles experimenting with “digital gardens” on their sites. Maggie Appleton, for example, <a href="https://maggieappleton.com/garden-history/">comments that</a></p>

        <blockquote>Rather than presenting a set of polished articles, displayed in reverse chronological order, these sites act more like free form, work-in-progress wikis.</blockquote>

        <blockquote>A garden is a collection of evolving ideas that aren’t strictly organised by their publication date. They’re inherently exploratory &mdash; notes are linked through contextual associations. They aren’t refined or complete &mdash; notes are published as half-finished thoughts that will grow and evolve over time.</blockquote>

        <p>I will be using this section of my website to write about ongoing reading, research, coding, and other activities, as well as sharing tutorials on coding and music topics. This will allow me to revisit past writing and do my thinking in public. Pages here will be continual works in progress.</p>
    </section>

</main>