---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer | Blogroll
description: A list of interesting blogs I follow
canonical_url: https://reillyspitzfaden.com/blogroll
eleventyExcludeFromCollections: true
---
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<style>
    p {
        line-height: var(--p-line-height);
    }
    #categories {
        margin: 0;
        padding: 0;
    }
    #categories li {
        display: inline;
        padding-right: 8px;
    }
</style>

<main>
    <h2 class="sectionHeader">Blogroll</h2>
    <p>An ever-growing list of interesting blogs I follow. I love the idea of prioritizing curation and human recommendation over the search engines and recommendation algorithms that are failing us, so here are some of my favorites.</p>
    <p>Blockquote descriptions are taken from the site (sometimes abbreviated, and/or with slightly different formatting). Descriptions without blockquotes are written by me (in cases where the site does not have a description or I want to add additional info).</p>
    <p>For info on how to use RSS to follow these blogs, see <a href="https://reillyspitzfaden.com/feeds/#what-is-rss">here</a>.</p>

    <section>
        <h2 class="sectionHeader">Categories</h2>
        <ul id="categories">
            {% for category in blogroll %}
            <li><a href="#{{ category.id }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </section>
    
    {% for category in blogroll %}
    <article id="{{ category.id }}">
        <h2 class="sectionHeader">{{ category.name }}</h2>
        {% for blog in category.blogs %}
            <h3><a href="{{ blog.htmlUrl }}">{{ blog.title }}</a> (<a class="rss-link" href="{{ blog.xmlUrl }}">RSS Link</a>)</h3>
            {% if blog.description %}
                <blockquote>
                    <p>{{ blog.description }}</p>
                </blockquote>
            {% endif %}
            {% if blog.myDescription %}
                <p>{{ blog.myDescription }}</p>
            {% endif %}
        {% endfor %}
    </article>
    <p><a href="#top">Top ⭡</a></p>
    {% endfor %}

</main>