---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer | Interactions
description: IndieWeb interactions — replies, likes, RSVPs, etc. Formatted using Microformats, and sent with Webmentions when available.
canonical_url: https://reillyspitzfaden.com/interactions/
pagination:
    data: collections.interaction
    size: 10
    alias: interactions
    reverse: true
---
<link rel="stylesheet" type="text/css" href="/styles/blog.css" />
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<main role="main" id="content">
        <h2 class="sectionHeader">Interactions</h2>
        
        <section class="postFeedDescription">
            <p>IndieWeb interactions — replies, likes, RSVPs, etc. Formatted using <a href="https://indieweb.org/microformats">Microformats</a>, and sent with <a href="https://indieweb.org/Webmention">Webmentions</a> when available. </p>
            
            {% include "partials/post-list-links.liquid" %}
        </section>

        {% for interaction in interactions %}
        <article class="h-entry">
            <h3 class="p-name"><a class="u-url" href="{{interaction.url}}">{{ interaction.data.title }}</a></h3>

            <a rel="author" class="p-author h-card" href="https://reillyspitzfaden.com"></a>

            <span class="meta-icon">
            <img src="/media/icon-calendar-ltr.svg" alt="calendar icon" />
            </span>
            <span class="meta-text">
            <time class="dt-published" datetime="{{ interaction.date }}">{{ interaction.date | date: "%A, %B %d, %Y" }}</time>
            </span>
        </article>
        {% endfor %}

        <a class="RSSValidationLink" href="https://validator.w3.org/feed/check.cgi?url=https%3A//reillyspitzfaden.com/interactions/feed.xml"><img src="/media/valid-rss-rogers.png" alt="[Valid RSS]" title="Validate my RSS feed" class="RSSValidationImg"/></a>
        
        <div class="page-nav-wrapper">
            {% if pagination.href.previous %}
                <a href="{{pagination.href.previous}}">Previous Page</a>
            {% endif %}
            {% if pagination.href.next %}
                <a href="{{pagination.href.next}}">Next Page</a>
            {% endif %}
        </div>
</main>
