---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer | Interactions
description: IndieWeb interactions — replies, likes, RSVPs, etc. Formatted using Microformats, and sent with Webmentions when available.
canonical_url: https://reillyspitzfaden.com/interactions/
pagination:
    data: collections.interaction
    size: 10
    alias: interactions
    reverse: true
eleventyExcludeFromCollections: true
---
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<style>
    p {
        line-height: var(--p-line-height);
    }
    .page-nav-wrapper {
        display: flex;
        justify-content: space-between;
    }
</style>
<main role="main" id="content">
        <h2 class="sectionHeader">Interactions</h2>
        <p>IndieWeb interactions — replies, likes, RSVPs, etc. Formatted using <a href="https://indieweb.org/microformats">Microformats</a>, and sent with <a href="https://indieweb.org/Webmention">Webmentions</a> when available. </p>
        
        {% include "partials/post-list-links.liquid" %}

        {% include "partials/pagefind-search.html" %}

        {% for interaction in interactions %}
        <article class="h-entry">
            <h3 class="p-name"><a class="u-url" href="{{interaction.url}}">{{ interaction.data.title }}</a></h3>

            <a rel="author" class="p-author h-card" href="https://reillyspitzfaden.com"></a>

            <span class="meta-icon">
            <img src="/media/icon-calendar-ltr.svg" alt="calendar icon" />
            </span>
            <span class="meta-text">
            <time class="dt-published" datetime="{{ date | postDate }}">{{ interaction.date | date: "%A, %B %d, %Y" }}</time>
            </span>
        </article>
        {% comment %} <hr /> {% endcomment %}
        {% endfor %}
        
        <div class="page-nav-wrapper">
            {% if pagination.href.previous %}
                <a href="{{pagination.href.previous}}">Previous Page</a>
            {% endif %}
            {% if pagination.href.next %}
                <a href="{{pagination.href.next}}">Next Page</a>
            {% endif %}
        </div>
</main>
