---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer | Likes
description: Posts I like from around the internet. Formatted using Microformats, and sent with Webmentions when available.
canonical_url: https://reillyspitzfaden.com/likes
pagination:
    data: collections.like
    size: 8
    alias: likes
    reverse: true
eleventyExcludeFromCollections: true
---
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<style>
    p {
        line-height: var(--p-line-height);
    }
    .page-nav-wrapper {
        display: flex;
        justify-content: space-between;
    }
</style>
<main>
        <h2 class="sectionHeader">Likes</h2>
        <p>Posts I like from around the internet. Formatted using <a href="https://indieweb.org/microformats">Microformats</a>, and sent with <a href="https://indieweb.org/Webmention">Webmentions</a> when available. </p>

        <p><a href="/tags">View all tags</a></p>

        {% include "partials/pagefind-search.html" %}

        {% for like in likes %}
        <article class="h-entry">
            <h3 class="p-name"><a class="u-url" href="{{like.url}}">{{ like.data.title }}</a></h3>

            <a rel="author" class="p-author h-card" href="https://reillyspitzfaden.com"></a>

            <span class="meta-icon">
            <img src="/media/icon-calendar-ltr.svg" alt="calendar icon" />
            </span>
            <span class="meta-text">
            <time class="dt-published" datetime="{{ date | postDate }}">{{ like.date | date: "%A, %B %d, %Y" }}</time>
            </span>
        </article>
        {% comment %} <hr /> {% endcomment %}
        {% endfor %}
        
        <div class="page-nav-wrapper">
            {% if pagination.href.previous %}
                <a href="{{pagination.href.previous}}">Previous Page</a>
            {% endif %}
            {% if pagination.href.next %}
                <a href="{{pagination.href.next}}">Next Page</a>
            {% endif %}
        </div>
</main>
