---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer | Media
description: A collection of videos, podcast links, and other appearances around the internet
canonical_url: https://reillyspitzfaden.com/media
eleventyExcludeFromCollections: true
---
<!-- lite-youtube -->
<link rel="stylesheet" href="/styles/videos/lite-yt-embed.css" />
<script src="/styles/videos/lite-yt-embed.js"></script>

<link rel="stylesheet" type="text/css" href="/styles/videogrid.css" />

<main role="main" id="content">
    <h2 class="sectionHeader">Media</h2>
    
    <article>
        <div class="videoGrid">
            {%- for video in media.videos %}
                <div class="containingBlock">
                    <h3><a href="https://www.youtube.com/watch?v={{ video.yt_id }}"><cite>{{ video.title }}</cite></a></h3>
                    {%- if video.peertube_link %}
                        <p><a href="{{ video.peertube_link }}">PeerTube link</a></p>
                    {%- endif %}
                    <div class="videoWrapper">
                        <lite-youtube videoid="{{ video.yt_id }}" style="background-image: url('https://i.ytimg.com/vi/{{ video.yt_id }}/hqdefault.jpg');">
                        </lite-youtube>
                    </div>
                </div>
            {% endfor %}
            
            {%- comment %} <div class="containingBlock">
                <h3><a href="https://www.youtube.com/watch?v=t_gxCOcNJr8"><cite>Everything lost along the way</cite></a>, score video:</h3>
                <div class="videoWrapper">
                    <lite-youtube videoid="t_gxCOcNJr8" style="background-image: url('https://i.ytimg.com/vi/t_gxCOcNJr8/hqdefault.jpg');">
                    </lite-youtube>
                </div>
            </div>
            <div class="containingBlock">
                <h3><a href="https://www.youtube.com/watch?v=YtSerbT7C5A"><cite>Reach Through</cite></a>:</h3>
                <div class="videoWrapper">
                    <lite-youtube videoid="YtSerbT7C5A" style="background-image: url('https://i.ytimg.com/vi/YtSerbT7C5A/hqdefault.jpg');"></lite-youtube>
                </div>
            </div>

            <div class="containingBlock">
                <h3><a href="https://www.youtube.com/watch?v=2dz0iKwHrkI"><cite>Outlive everything you know</cite></a>:</h3>
                <div class="videoWrapper">
                    <lite-youtube videoid="2dz0iKwHrkI" style="background-image: url('https://i.ytimg.com/vi/2dz0iKwHrkI/hqdefault.jpg');"></lite-youtube>
                </div>
            </div>

            <div class="containingBlock">
                <h3><a href="https://www.youtube.com/watch?v=Y_inKSy9K0k"><cite>Afterimage from</cite></a>, score video:</h3>
                <div class="videoWrapper">
                    <lite-youtube videoid="Y_inKSy9K0k" style="background-image: url('https://i.ytimg.com/vi/Y_inKSy9K0k/hqdefault.jpg');"></lite-youtube>
                </div>
            </div> {% endcomment %}
            
            {% comment %} <div class="containingBlock">
                <h3><a href="https://www.youtube.com/watch?v=7FXpG1s1HpE"><cite>Everything lost along the way</cite></a>:</h3>
                <div class="videoWrapper">
                    <lite-youtube videoid="7FXpG1s1HpE" style="background-image: url('https://i.ytimg.com/vi/7FXpG1s1HpE/hqdefault.jpg');"></lite-youtube>
                </div>
            </div> {%- endcomment %}
    
            <!-- <h3><i>Scratch:</i></h3> -->
    
            {%- comment %} <div class="containingBlock">
                <h3><a href="https://www.youtube.com/watch?v=aYjmpwDuPEI"><cite>Selist</cite></a>:</h3>
                <div class="videoWrapper">
                    <lite-youtube videoid="aYjmpwDuPEI" style="background-image: url('https://i.ytimg.com/vi/aYjmpwDuPEI/hqdefault.jpg');"></lite-youtube>
                </div>
            </div>
            
            <div class="containingBlock">
                <h3><a href="https://www.youtube.com/watch?v=dXJl9MmD0P0"><cite>Each city, a tiny white flag</cite></a>:</h3>
                <div class="videoWrapper">
                    <lite-youtube videoid="dXJl9MmD0P0" style="background-image: url('https://i.ytimg.com/vi/dXJl9MmD0P0/hqdefault.jpg');"></lite-youtube>
                </div>
            </div>
    
            <div class="containingBlock">
                <h3><a href="https://www.youtube.com/watch?v=DA3fj-pdhMw"><cite>Skin lives in wires</cite></a>:</h3>
                <div class="videoWrapper">
                    <lite-youtube videoid="DA3fj-pdhMw" style="background-image: url('https://i.ytimg.com/vi/DA3fj-pdhMw/hqdefault.jpg');"></lite-youtube>
                </div>
            </div>
            
            <div class="containingBlock">
                <h3><a href="https://www.youtube.com/watch?v=U7tHvdGgFjE"><cite>Resonances</cite></a>, score video:</h3>
                <div class="videoWrapper">
                    <lite-youtube videoid="U7tHvdGgFjE" style="background-image: url('https://i.ytimg.com/vi/U7tHvdGgFjE/hqdefault.jpg');"></lite-youtube>
                </div>
            </div>
    
            <div class="containingBlock">
                <h3><a href="https://www.youtube.com/watch?v=iQKfKuEqyYs"><cite>Electromagnetic Soundwalk</cite></a>, Rochester, NY:</h3>
                <div class="videoWrapper">
                    <lite-youtube videoid="iQKfKuEqyYs" style="background-image: url('https://i.ytimg.com/vi/iQKfKuEqyYs/hqdefault.jpg');"></lite-youtube>
                </div>
            </div> {%- endcomment %}
            
        <!-- close "videoGrid" -->
        </div>
    </article>
        
    <article>
        <h2 class="sectionHeader">Links to appearances around the internet</h2>

        <p><a href="https://icareifyoulisten.com/2024/04/5-questions-to-apply-triangle/">Review</a> of Apply Triangle's <cite>Oxalis Triangularis</cite>, containing my track <a href="https://applytriangle.bandcamp.com/track/if-this-reaches-you"><cite>If this reaches you</cite></a></p>
        <p><a href="https://nowandxen.libsyn.com/14-tone-reilly-spitzfaden">Interview</a> on <cite>Now&Xen</cite> Podcast</p>
        <p><a href="https://wayofm.org/shows/episodes/12042018-0">Interview</a> about Eastman OSSIA New Music commission on WAYO 104.3 FM</p>
        <p><a href="https://yeahiknowitsucks.wordpress.com/2018/01/04/how-things-are-made-with-reilly-spitzfaden-jamie-vandermolen-maurice-rickard-and-an-eel/">Blog review</a> of my piece <a href="https://howthingsaremade.bandcamp.com/track/reilly-spitzfaden-combination-locks"><cite>Combination Locks</cite></a></p>
        {%- comment %}<h3><a href="https://composerstoolbox.com/2017/09/23/reilly-spitzfaden-resonances/">Blog feature</a> of "Resonances" as a teaching tool for composers</h3>{%- endcomment %}
        <p><a href="https://www.icadenza.com/elf-multimedia-performance/">Concert review</a> I wrote for iCadenza.</p>
        <!-- close "linksList"-->
    </article>

    <p><a href="#top">Top ⭡</a></p>
</main>
