---
title: Reilly Spitzfaden, Composer | Posts by Tag
description: Blog posts listed by tag
pagination:
    data: collections
    size: 1
    alias: tag
    filter:
        - interaction
        - note
        - post
	- like
	- bookmark
	- rsvp
	- reply
	- wiki
	- wiki-root
permalink: /tags/{{ tag }}/
eleventyExcludeFromCollections: true
---
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<style>
    .taggedPostLink {
        margin: 24px 0;
    }
</style>

<main role="main" id="content">
    <article class="tagList">
        <h1 class="sectionHeader">#{{ tag |  replace: "-", " "  }}</h1>
        {% assign taglist = collections[tag] %}
        {% for post in taglist reversed %}
            <article>
                <h3 class="taggedPostLink"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
                <p>{{ post.data.description }}</p>
                    <span class="meta-icon">
                    <img src="/media/icon-calendar-ltr.svg" alt="calendar icon" />
                    </span>
                    <span class="meta-text">
                    <time>{{ post.date | date: "%A, %B %d, %Y" }}</time>
                    </span>
            </article>
        {% endfor %}
        
    </article>
</main>

